extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/index.js')
  h1= title
  p Welcome to #{title}
  input(type = 'text' id='roomnum')
  input(type = 'text' id = 'nickname')
  br
  input(type = 'text' id = 'msg')
  br
  button(id='submit') submit
