extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/index.js')
  h1= title
  p Welcome to #{title}
  input(type = 'text' id='roomnum' placeholder = 'roomnum')
  button(id='join') join 
  br
  input(type = 'text' id = 'nickname' placeholder = 'nickname')
  input(type = 'text' id = 'msg' placeholder = 'msg')
  br
  button(id='submit') submit
